<h3>Select integrations to import</h3>

<%= form_tag imports_path do %>
    <%  @integrations.each do |integration| %>
    <%= check_box_tag 'import[integration_ids][]', integration.id, false, :id => integration.id %>
        <%= integration.name %> 
    <% end %>
    <%= submit_tag 'Import!' %>
<% end %>
