<% if flash[:error].present? %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<h3>upload file with products</h3>

<%= form_for @document, url: documents_path do |form| %>
  <%= form.file_field :attachment %>
  <%= form.submit 'Upload' %>
<% end %>
<%= link_to 'go to import', imports_url %>
